*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'helvatica';
    color : #fff;
}

html,body{
    height : 100%;
    width : 100%;

}

body { 
    background-color:  #111;
    display : flex;
    align-items: center;
    justify-content : center;  
    gap : 20px;
    flex-direction: column;
    
}


#box{
    width : 200px;
    height : 200px;
    background-color: rgb(255, 100, 20);
    border: 2px solod white;
    border-radius : 10px;
}

button {
    padding : 10px 20px;
    background-color: crimson;
    border : none;
    border-radius : 5px;
    font-weight : 600;
    cursor : pointer;
}

button:active  {
    scale : 0.95
}