*{
  margin : 0;
  padding : 0;
}

html , body {
    height : 100%;
    width : 100%;
    background-color: black;
}

main {
    height : 100%;
    width : 100%;
    background-color: black;
    padding : 20px;
    display: flex;
    gap : 20px;
    align-items : flex-start;
    flex-wrap : wrap;
}

.card {

    width : 280px;
    text-align: center;
    background-color: #fff;
    padding : 30px;
    border-radius: 10px;


}

.card img {
    height : 150px;
    width : 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 10px;

}

.card h3{
    font-size : 26px; 
    white-space: nowrap;
}
.card h4{
    font-size: 18px; 
    margin-top: 10px;
    color : crimson;
    margin-bottom: 10px;

}

.card p {
    font-size: 15px;
}