*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'gilroy';
    color : #fff;
}

html, body{
    height : 100%;
    width : 100%;
}

#main {
    height : 100%;
    width : 100%;
    background-color: #111;
    position: relative;
}

.elem {
    height : 140px;
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid #fff;
    position: relative;
    
}

.elem h1{
    font-size: 4vw;
    position : relative ;
   
    mix-blend-mode: difference;
}

.elem img {
    height : 150px ;
    width : 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    opacity: 0;
    transition: all linear 0.3s;
}